---
layout: ./base.vto
---

<header>
  <h1>{{ title }}</h1>
  <nav><ul>
    {{ for x of nav }}
    <li><a href='{{x.href}}'>{{x.text}}</a></li>
    {{ /for }}
  </ul></nav>
</header>
<main>
  <article>{{ content |> safe }}</article>
</main>
