<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>じんろうすいじゃく 人狼衰弱</title>
  <link rel="stylesheet" href="/assets/style.css">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V8GB703NTR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());gtag('config', 'G-V8GB703NTR');
  </script>
</head>
<body>
  {{ content |> safe }}
  <footer id="credits">
    <hr />
    <div class="flex-col">
      <img src="/assets/niwatrick.svg" alt="ニワトリックゲームズ" style="max-width: 500px">
      <div class="flex-row">
        <div>ゲームデザイン: <a href="https://x.com/kuboon">@kuboon</a></div>
        <div>イラスト: <a href="https://x.com/niwanotorico">@niwanotorico</a></div>
      </div>
      <div>本ゲームのルール、イラスト等の無断コピーを禁じます。</div>
    </div>
  </footer>
</body>
</html>
