<!DOCTYPE html>
<html lang="ja" color-mode="user">
<head>
  <meta charset="UTF-8">
  <title>じんろうすいじゃく 人狼衰弱</title>
  <link rel="stylesheet" href="mvp.css">
</head>
<body>
  <header>
    <h1>じんろうすいじゃく 人狼衰弱</h1>
  </header>
  <main>{{ content }}</main>
  <footer></footer>
</body>
</html>
